.nouveauStyle1 {
	font-size: medium;
	background-color: #CC99FF;
	border-style: solid;
}
.auto-style3 {
	font-family: "Tw Cen MT Condensed Extra Bold";
}
.auto-style2 {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color: #008000;
	text-decoration: underline;
}
header {
	background-color: #CC99FF;
	border-style: inset;
	border-width: medium;
	font-family: "Comic Sans MS";
}
nav {
	background-color: #FFCCFF;
	border-style: groove;
}
.auto-style1 {
	border-radius: 10px;
}
.nouveauStyle2 {
	font-family: "Arial Rounded MT Bold";
	line-height: normal;
}
footer {
	background-color: #FFCC99;
}
